input {
  margin: 20px;
  max-width: 250px;
}
.mb-3 {
  margin: 20px 20px;
  max-width: 900px;
}
h1 {
  position: relative;
  left: 100px;
  margin-top: 10px;
  padding-bottom: 20px;
  font-size: 56px;
  color: rgb(153, 154, 155);
  font-family: Roboto, arial, sans-serif;
  text-transform: capitalize;
}
.sun-emoji {
  font-size: 72px;
}
h2 {
  font-size: 75px;
  margin-bottom: 60px;
  color: rgb(153, 154, 155);
  font-family: Roboto, arial, sans-serif;
}

h3 {
  color: rgb(153, 154, 155);
  font-family: Roboto, arial, sans-serif;
  margin-top: 10px;
}
h4 {
  font-size: 16px;
  font-family: Roboto, arial, sans-serif;
}

.hi-lo-temp {
  font-size: 34px;
  position: relative;
  left: -152px;
  bottom: -40px;
}
.emoji-mon {
  padding: 15px 2px;
  margin: 20px;
  position: relative;
  top: -15px;
  font-size: 50px;
}
.emoji-tue {
  padding: 15px 2px;
  margin: 20px;
  position: relative;
  top: -15px;
}
.emoji-wed {
  padding: 15px 2px;
  margin: 20px;
  position: relative;
  top: -15px;
}
.emoji-thu {
  padding: 15px 2px;
  margin: 20px;
  position: relative;
  top: -15px;
}
.emoji-fri {
  padding: 15px 2px;
  margin: 20px;
  position: relative;
  top: -15px;
}
.weather-app {
  border: solid rgb(175, 174, 174) 2px;
  border-radius: 10px;
  max-width: 900px;
  margin: 20px;
}
.hi-lo-text {
  font-size: 24px;
}
.current-temp {
  color: black;
}
.f-temp {
  font-size: 24px;
  position: relative;
  top: -32px;
  left: 2px;
}
.c-temp {
  font-size: 24px;
  position: relative;
  top: -32px;
  left: -5px;
}

img {
  height: 72px;
  width: 72px;
}
.weekly-temps {
  position: relative;
  top: -25px;
}
.pre-hum-wind {
  font-size: 20px;
  list-style: none;
  position: relative;
  top: -20px;
  text-align: left;
  left: 150px;
}
.btn {
  background-color: blue;
  max-width: 800px;
}
.form-control {
  max-width: 800px;
}
p {
  position: relative;
  left: 100px;
  color: rgb(153, 154, 155);
  font-family: Roboto, arial, sans-serif;
  font-size: 24px;
  top: -30px;
}
a {
  text-decoration: none;
  color: black;
}

.github-link {
  margin-top: 35px;
  font-size: 16px;
  text-align: left;
  color: black;
}

#github-link-text:link {
  color: blue;
}
#github-link-text:visited {
  color: purple;
  text-decoration: underline;
}
.clickable-text {
  color: blue;
}

#description {
  top: -50px;
  font-size: 20px;
  text-transform: capitalize;
}
